
@model List<Educafin.Models.institucion>

@{
    ViewBag.Title = "Institución con planteles";
    string cct = ViewBag.cct;
    string nombre = ViewBag.nombre;

    int i = 1;
}


<section class="container form-horizontal ">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="form-group ">
            <div class="text-left ">
                <h2>Institución con planteles: @nombre</h2>
            </div>
        </div>
        <div class="@TempData["error"]"> @Html.Raw(TempData["Message"])</div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">Nombre (CCT):</label>
                    <input type="text" class="form-control" name="cctI" id="AucctMP" placeholder="" required />
                    <input type="hidden" name="consulta" id="consulta" value="insertar" />
                    <input type="hidden" name="cct" id="cct" value="@cct" /> @*Este valor no lo encuentra*@
                </div>

           
                <div class="col-sm-3 ">
                    <button type="submit" id="guardarA" class="btn botonM btnPrimary btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span> Asociar</button>
                </div>

            </div>
        }
    </div>


    <div class="form-group">

        <table width=100% class="table col-sm-12 table-hover table-condensed table-striped" id="tablaLista" align="left">
            <thead>
                <tr class="bakinfo">
                    <td width="20.5%">
                        <h4>No.</h4>

                    </td>
                    <td width="25.5%">
                        <h4>CCT</h4>

                    </td>
                    <td width="43.5%">
                        <h4>Nombre</h4>

                    </td>

                    <td width="10%"></td>
                    <td width="10%"></td>
                </tr>
            </thead>


            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>


                    <td>
                    <td align="center">

                        <form method="post" action="">
                            <button data-toggle="tooltip" title="" type="submit" class="btn botonf gira  btnDanger btn-circle"><i class="glyphicon glyphicon-trash"></i></button>
                            <input type="hidden" name="consulta" id="consulta" value="borrar" />
                            <input type="hidden" name="cctI" id="cctI" value= @item.CCT />
                            <input type="hidden" name="cct" id="cct" value="@cct" />
                                                        
                        </form>






                       




                        
                    </td>
                </tr>i++;
            }

        </table>

    </div>



</section>


