@model IEnumerable<Educafin.Models.institucion>

@{
    ViewBag.Title = "Institucion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}




<section class="p10"></section>

<section class="container form-horizontal ">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="form-group ">
            <div class="text-left ">
                <h1>Instituciones</h1>
                <h2>Registros</h2>
            </div>
        </div>

<div class="@TempData["error"]"> @Html.Raw(TempData["Message"])</div>

            <div class="form-group">
                <div class="col-sm-3">
                    <button type="submit" data-toggle="tooltip" title="Registro de Instituciónes por archivos" class="btn botonM btnAlter btn-lg btn-block" onclick="location.href='@Url.Action("registroMasivoInstitucion", "Administrador")'"><span class="glyphicon glyphicon-file"></span> Cargar archivo</button>
                </div>

                <div class="col-sm-3 col-sm-offset-6">
                    <button data-toggle="tooltip" title="Nueva Institución" type="button"
                            onclick="location.href='@Url.Action("Create", "Administrador")'
                                        " class="btn botonM rota btnWarning btn-circle btn-lg">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>


            <div class="form-group">

                <table width=100% class="table col-sm-12 table-hover table-condensed table-striped" id="tabladatos" align="left">
                        <thead>
                            <tr class="bakinfo">
                                <td width="5%">
                                    <h4>No.</h4>

                                </td>
                                <td width="15%">
                                    <h4>CCT</h4>

                                </td>
                                <td width="30%">
                                    <h4>Nombre</h4>

                                </td>
                                <td width="15%">
                                    <h4>Teléfono</h4>

                                </td>
                                <td width="20%">
                                    <h4>Correo</h4>

                                </td>
                                <td width="5%"></td>
                                <td width="5%"></td>
                                <td width="5%"></td>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @i </td>
                                <td>
                                    @Html.DisplayFor(model => item.CCT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.coreo)
                                </td>
                                <td align="center">


                                    <form method="post" action="Details">
                                        <button data-toggle="tooltip" title="@Html.DisplayFor(model => item.CCT)
                                        " type="submit" class="btn botonf gira  btnAlter btn-circle">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </button>
                                        <input type="hidden" name="id" id="id" value=@item.CCT />




                                    </form>


                                </td>
                                <td align="center">



                                    <button data-toggle="tooltip" title="@Html.DisplayFor(model => item.CCT)
                                          @Html.DisplayFor(modelItem => item.nombre) " type="button"
                                            onclick="location.href='@Url.Action("Edit","Administrador",new { id = item.CCT })'
                                        " class="btn botonf gira  btnDanger btn-circle">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </button>


                                </td>

                                @if (item.medioprovedor)
                                {
                                    <td align="center">



                                        <form method="post" action="AsociacionInstitucionConPlanteles">
                                            <input type="hidden" name="cct" value="@Html.DisplayFor(modelItem => item.CCT)" />
                                            <button data-toggle="tooltip" title="Asociar Instituciòn a @Html.DisplayFor(modelItem => item.CCT) " type="submit" class="btn botonf gira  btnPrimary btn-circle">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </button>
                                        </form>


                                    </td>

                                }

                            </tr> i++;
                        }
                    </table>
            </div>
        </div>
</section>

