@model List<Educafin.Models.Alumno>

@{
    ViewBag.Title = "ListaBenefTablet";
    string pertenece = (String)Session["pertenece"];
}

<div id="dialog-confirm">
    <p id="Divparticipante"></p>
</div>

    <section class="container form-horizontal ">
        <div class="col-sm-11 col-sm-offset-1">
            <div class="form-group ">
                <div class="text-left ">
                    <h1>Beneficiarios</h1>
                    <h2>Con tablet</h2>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3">
                    <button data-toggle="tooltip" title="Registrar Series" type="submit" class="btn botonM rota btnWarning btn-circle btn-lg" onclick="location.href='@Url.Action("RegistroTablet", "Institucion")'"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <div class="col-sm-3 col-xs-offset-6">
                    <button type="submit" class="btn boton btnPrimary btn-lg btn-block" onclick="location.href='@Url.Action("DownloadTablet", "Institucion")';"><span class="glyphicon glyphicon-save"></span> Descargar Lista</button>
                </div>
            </div>


            <div class="form-group">

                <table width=100% class="table col-sm-12 table-hover table-condensed table-striped" id="tabladatos" align="left">
                    <thead>
                        <tr class="bakinfo">
                            <td width="5%">
                                <h4>No.</h4>
                            </td>
                            <td width="20%">
                                <h4>CURP</h4>
                            </td>
                            <td width="15%">
                                <h4>Matricula</h4>
                            </td>
                            <td width="30%">
                                <h4>Nombre</h4>
                            </td>
                            <td width="20%">
                                <h4>Tableta</h4>
                            </td>
                            <td width="30%">
                                <h4>Fecha de Entrega</h4>
                            </td>

                            <td width="15%"></td>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.curp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.matricula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>

                            <td align="center">

                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = ""+@Html.DisplayFor(modelItem => item.status)+@Html.DisplayFor(modelItem => item.curp) }))
                                {
                                    @Html.ValidationSummary(true)
                                    
                                        
                                            <input type="hidden" id="update" name="update" value="@Html.DisplayFor(modelItem => item.curp)" />
                                            <button data-form="@Html.DisplayFor(modelItem => item.status)@Html.DisplayFor(modelItem => item.curp)" data-toggle="tooltip" title="Eliminar Tableta @Html.DisplayFor(modelItem => item.status) de @Html.DisplayFor(modelItem => item.curp) " type="button" class="btn botonf gira  btnDanger btn-circle Eliminar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        
                                    
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/jquery.flexslider-min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/error.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>



