
@model MvcApplication8.Models.Entregas

@{
    ViewBag.Title = "EntradaModificar";
}

<section class="p10"></section>

<section class="container form-horizontal ">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="form-group ">
            <div class="text-left ">
                <h1>Entregas</h1>
                <h2>Registro</h2>
                <h2>@ViewBag.nombre </h2>
            </div>
        </div>

        <div class="alert @TempData["error"]">
            @TempData["message"]
        </div>
        @using (Html.BeginForm())
        {

            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">Intitución:</label>

                    <input type="text" value="@(ViewBag.institucion)" class="form-control" name="cct_int" id="cct_int" placeholder="Intitución" readonly="readonly">

                </div>
                <div class="col-sm-2">
                    <label class="control-label">Cantidad:</label>
                    <input type="number" value="@(ViewBag.cantidad)" class="form-control" name="Cantidad" id="Cantidad" placeholder="Cantidad" min="1">
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Fecha:</label>
                    <input type="datetime-local" value="@(ViewBag.fecha)" class="form-control" name="fecha" id="fecha">
                </div>
                <div class="col-sm-2">

                    <button type="submit" class="btn botonM btnAlter btn-lg btn-block"><span class="glyphicon glyphicon-saved"></span> Guardar</button>


                </div>

            </div>
            <input type="text" value="@(ViewBag.clave)" name="clave" id="clave" style="visibility:hidden">
        }

        <div class="col-sm-11 col-sm-offset-1">
            <div class="form-group ">
                <div class="text-left ">
                    <h2>Datos de entrega</h2>
                </div>
            </div>
        </div>

    </div>
</section>